{% extends "base.html" %}
{% block title %}
Home
{% endblock title %}

{% block content %}
<div class="demo-page">
    <main class="demo-page-content">
        <div class="home">
            <section>
                {% markdown %}
                # 使用說明
                ### 訓練菜單生成
                1. 點擊導航列 **訓練菜單** 選項
                2. 輸入身體數值資訊
                3. 點擊 **生成訓練菜單** 按鈕
                ### 姿勢正確性驗證
                1. 點擊導航列 **姿勢調整** 選項
                2. 上傳照片
                3. 點擊 **Submit** 按鈕
                {% endmarkdown %}
            </section>
        </div>
    </main>
</div>
{% endblock content %}