{% extends "base.html" %}
    {% block title %}
      Training Menu Generator
    {% endblock title %}
    {% block head %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    {% endblock head %}
{% block content %}
    <div class="container">
      <h1>Training Menu Generator</h1>
      {% with messages=get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <section>
      <form method="POST" novalidate action="{{ url_for('menu') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">{{ form.Gender.label }}
          {{ form.Gender(class='form-control') }}
          {% if form.Gender.errors %}
            <div class="alert alert-danger">
                {{ form.Gender.errors[0] }}
            </div>
          {% endif %}
        </div>
        <div class="form-group">{{ form.Age.label }}
          {{ form.Age(class='form-control') }}
          {% if form.Age.errors %}
            <div class="alert alert-danger">
                {{ form.Age.errors[0] }}
            </div>
          {% endif %}
        </div>
        <div class="form-group">{{ form.Height.label }}
          {{ form.Height(class='form-control') }}
          {% if form.Height.errors %}
            <div class="alert alert-danger">
                {{ form.Height.errors[0] }}
            </div>
          {% endif %} 
        </div>
        <div class="form-group">
          {{ form.Weight.label }}
          {{ form.Weight(class='form-control') }}
          {% if form.Weight.errors %}
            <div class="alert alert-danger">
                {{ form.Weight.errors[0] }}
            </div>
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.SkeletalMuscleWeight.label }}
          {{ form.SkeletalMuscleWeight(class='form-control') }}
          {% if form.SkeletalMuscleWeight.errors %}
            <div class="alert alert-danger">
                {{ form.SkeletalMuscleWeight.errors[0] }}
            </div>
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.BodyFatWeight.label }}
          {{ form.BodyFatWeight(class='form-control') }}
          {% if form.BodyFatWeight.errors %}
            <div class="alert alert-danger">
                {{ form.BodyFatWeight.errors[0] }}
            </div>
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.BodyFatIndex.label }}
          {{ form.BodyFatIndex(class='form-control') }}
          {% if form.BodyFatIndex.errors %}
            <div class="alert alert-danger">
                {{ form.BodyFatIndex.errors[0] }}
            </div>
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.BodyFatPercentage.label }}
          {{ form.BodyFatPercentage(class='form-control') }}
          {% if form.BodyFatPercentage.errors %}
            <div class="alert alert-danger">
                {{ form.BodyFatPercentage.errors[0] }}
            </div>
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.BasalMetabolicRate.label }}
          {{ form.BasalMetabolicRate(class='form-control') }}
          {% if form.BasalMetabolicRate.errors %}
            <div class="alert alert-danger">
                {{ form.BasalMetabolicRate.errors[0] }}
            </div>
          {% endif %}
          
        </div>
        <div class="form-group">
          {{ form.BodyWater.label }}
          {{ form.BodyWater(class='form-control') }}
          {% if form.BodyWater.errors %}
            <div class="alert alert-danger">
                {{ form.BodyWater.errors[0] }}
            </div>
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.LeftHandMuscleMass.label }}
          {{ form.LeftHandMuscleMass(class='form-control') }}
          {% if form.LeftHandMuscleMass.errors %}
            <div class="alert alert-danger">
                {{ form.LeftHandMuscleMass.errors[0] }}
            </div>
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.RightHandMuscleMass.label }}
          {{ form.RightHandMuscleMass(class='form-control') }}
          {% if form.RightHandMuscleMass.errors %}
            <div class="alert alert-danger">
                {{ form.RightHandMuscleMass.errors[0] }}
            </div>
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.LeftLegMuscleMass.label }}
          {{ form.LeftLegMuscleMass(class='form-control') }}
          {% if form.LeftLegMuscleMass.errors %}
            <div class="alert alert-danger">
                {{ form.LeftLegMuscleMass.errors[0] }}
            </div>
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.RightLegMuscleMass.label }}
          {{ form.RightLegMuscleMass(class='form-control') }}
          {% if form.RightLegMuscleMass.errors %}
            <div class="alert alert-danger">
                {{ form.RightLegMuscleMass.errors[0] }}
            </div>
          {% endif %}
          
        </div>
        <div class="form-group">
          {{ form.TrunkMuscleMass.label }}
          {{ form.TrunkMuscleMass(class='form-control') }}
          {% if form.TrunkMuscleMass.errors %}
            <div class="alert alert-danger">
                {{ form.TrunkMuscleMass.errors[0] }}
            </div>
          {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">Generate Workout Menu</button>
      </form>
      </section>
      
  


      {% if data %}
        <h2>Input Data</h2>
        <ul>
          {% for key, value in data.items() %}
            <li>{{ key }}: {{ value }}</li>
          {% endfor %}
        </ul>
      {% endif %}

      {% if workout_menu %}
        <h2>Generated Workout Menu</h2>
        <pre>{{ workout_menu }}</pre>
      {% endif %}
    </div>
    {% endblock content %}
