{% extends "base.html" %}

{% block content%}
<!-- partial:index.partial.html -->
<div class="demo-page">
    <main class="demo-page-content">
      <section>
        <div class="href-target" id="intro"></div>
        <h1 class="package-name">nice-forms.css</h1>
        <p>
          I like pretty forms and clean HTML 😄 That's why I created
          <strong>nice-forms.css</strong> to help devs who want to hit the
          ground running, but don't want to stare at default input fields when
          doing so 💩
        </p>
        <strong>In a nutshell:</strong>
        <ul>
          <li>It provides a sensible input styling 'reset'</li>
          <li>Get nice looking forms with zero effort</li>
          <li>Easily customizable with css-variables</li>
          <li>
            Perfect for rapid prototyping or tweak it and make it your own.
          </li>
          <li>No hacks or unnecessary elements, pure semantics</li>
        </ul>
      </section>
    </main>
  </div>
  <!-- partial -->
    
{% endblock%}